<!DOCTYPE>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <style>[ng-cloak] { display: none; }</style>
    <script>
      // load all of the dependencies asynchronously.
      <% include ../vendor/angular.js/1.2.15/angular-loader.min.js %>
      <% include ../vendor/script.js/2.5.2/script.min.js %>
      $script([
        '//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js',
        '/vendor/markdown-browser-0.6.0-beta1/markdown.min.js',
        <% if (config.assets.minify) { %>
          '//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js',
          '//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js',
          '/js/app.min.js',
          '/js/services.min.js',
          '/js/controllers.min.js',
          '/js/filters.min.js',
          '/js/directives.min.js',
          '/js/routes.min.js'
        <% } else { %>
          '//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js',
          '//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.js',
          '/js/app.js',
          '/js/services.js',
          '/js/controllers.js',
          '/js/filters.js',
          '/js/directives.js',
          '/js/routes.js'
        <% } %>
        ], function() {
          angular.bootstrap(document, ['app']);
        });
        angular.module('config', []).constant('config', <%- JSON.stringify(config.public) %>);
    </script>
    <title><%= config.app.name %></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <% if (config.assets.minify) { %>
    <link rel="stylesheet" href="/css/app.min.css">
    <% } else { %>
    <link rel="stylesheet" href="/css/app.css">
    <% } %>
  </head>
  <body ng-cloak>
    <div ng-include="'/views/header.html'"></div>
    <div class='container'>
      <div ng-view></div>
    </div>
    <div ng-include="'/views/footer.html'"></div>
  </body>
</html>
